* {
    box-sizing: border-box;
}
:root{
    --fon: "Sen", sans-serif;
    --col: #ffb900;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ---header */
.header{
    background: #fffcf4;
}
.header .body {
    display: flex;
align-items: center;
padding: 36px 0px 0px;
}
/* logo */
.header img{
    z-index: 1;
}
/* FIXED HEADER */
.fixed {
    position: sticky;
    top: -36px;
    z-index: 1;
}
/* ---=========================common===========================================-- */
a {
    text-decoration: none;
}
.line-clamp{
display: -webkit-box;
-webkit-line-clamp: var(--line);
-webkit-box-orient: vertical;
overflow: hidden;
}

.main-contain {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.heading-lv2{
   color: #171100;
   font-family: var(--fon);
   font-size: 3.8rem;
   font-weight: 700;
   line-height: 1.26;
   letter-spacing: -0.76px;
}

/* xoay ngang  nav */
.nav ul {
    display: flex;
}

/* Căn sang trái khối nav */
.nav {
    margin-left: auto;
}

/* Điều chỉnh thẻ nav */
.nav a {
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
    color: #171100;
    text-shadow: 1px 0px 0px currentColor;
    transition: 0.4s;
}

.nav li.active a::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    display: block;
    position: absolute;
    bottom: 6px;
    left: 21px;
}

li.active a {
    position: relative;
}

/* phần sign up */
.btn {
   display: inline-block;
   padding: 0px 16px;
   border-radius: 999px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    background: #171110;
    min-width: 118px;
    text-align: center;
    line-height: 50px;
}.btn:hover{
    opacity: 0.9;
}
.header .btn-action{
    min-width: 144px;
    margin-left: 49px;
}
/* Phan hero */
.hero-png{
    width: 80%;
    border-radius: 5%;
    z-index: -1;
}
/* cach le tren  */
.hero {
    padding: 58px;
    background: #fffcf4;
    
}

.hero .body{
    display: flex;
    
}
/* ================khoi ben trai================ */
.hero .media-block{
    width: 48%;
    position: relative;
}
.media-block-content{
    position: absolute;
    bottom: 48px;
    right: 0;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgb(0, 0, 0, 0.5);
    width: 270px;
    padding: 24px;
    border-radius: 10px;
}

.item{
    display: flex;
    align-items: center;
}
.icon-img{
    width: 50%;
}
.item .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    
}
/* Mau nen cua cac icon */
.item .bgc1{
    background: #fff9e8;
}
.item .bgc2{
    background: #fcefff;
    
}
.item .bgc3{
    background: #ebeaff;
    
}
.item .p-up{
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}
.item .p-down{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.media-block-content .item + .item{
    margin-top: 22px;
}
/* ================khoi ben phai====================== */
.hero .content-block{
    width: 52%;
    padding-left: 120px;
    padding-top: 64px;
}
.content-block .title{
    
    font-family: var(--fon);
    color: #171100;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}
.content-block .desc{
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;

}
.hero .action-group{
    margin-top: 38px;
    display: flex;
  align-items:  center;
}
.hero .btn{
    background: var(--col);
    min-width: 180px;
    line-height: 64px;
}
.hero .watch-video{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hero .icon-watch{
    width: 50px;
}
.hero .img-watch{
    width: 50%;
}
.hero .watch-video .icon-watch{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.07);
}
.hero .watch-video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .chu-watch-video{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
line-height: 1.66;
margin-left: 14px;
}
.hero .recent{
    margin-top: 48px;
}
.hero .soluong strong{
    color: #171100;
    font-family: var(--fon);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
    margin-right: 15px;
}
.hero .soluong strong:nth-child(2){
    margin-left: 28px;
}
.hero .soluong{
    margin-top: 8px;
}
/* =====================popular========================== */
.popular {
    padding: 25px 0;
    margin-top: 135px;
}
.popular-top .desc{
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66;
    margin-top: 16px;
    width: 458px;
}
.popular-top{
    display: flex;
    align-items: center;
}
.popular-right .icon-control{
    width: 20px;
}
.popular-right{
    margin-left: auto;
    display: flex;
    gap: 18px;
}
.popular-right-control{
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--col);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-right-control:hover{
    background: var(--col);
    cursor: pointer;
}
.popular-up .thump{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    height: 278px;
    object-fit: cover;
}
.popular-up .star{
    width: 20px;
}
.popular-up {
    display: flex;
    gap: 30px;
}
.popular .popular-up{
    margin-top: 55px;
}
.popular .up-item{
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}
.popular .up-item:hover{
    border-radius: 12px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .info-up{
    padding: 16px 22px 22px 22px;
}
.popular .info-up-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .info-up-top .rating{
    display: flex;
    align-items: center
}
.info-up-top .title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    --line: 1;
    word-break: break-all;
    
}
.info-up-top .value{
    margin-left: 6px;
    color: var(--col);
    font-size: 1.6rem;
    line-height: 1.75;
}
.info-up .desc{
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85;
   --line: 2;
   word-break: break-all;
}
.popular .foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.popular .foot .btn{
        border: none;
}
.popular .foot .btn:hover{
    background: var(--col);
    cursor: pointer;
}
.popular .foot .price{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
/* ====Can bang flex = 1 */
.popular .up-item{
    flex: 1;
}
/* ===================================feetback================================ */
.feetback-item .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feetback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
    
}
.ngoac {
    width: 20px;
}
.feetback-item{
    display: flex;
    justify-content: space-between;
}
.member-name{
    margin-top: 18px;
    color: #f7f7f7;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
    font-family: var(--fon);
}
.feetback-item .desc{
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
}
.feetback-item .dot{
    margin-top: 28px;
    display: flex;
    gap: 6px;
}
.trot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.feetback .active {
    background: var(--col);
   
}
.active{
    cursor: default;
}
.feetback .feetback-right{
    width: 66%;
}
.feetback .feetback-right blockquote{
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53;
}